@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');

:root{
  --main-dark-tan: #a76823;
  --main-tan: #c8833f;
  --main-gold: rgb(236, 183, 49);
  --main-dark-gold: rgb(202, 92, 28);
  --main-white: rgba(251, 246, 233);
  --translucent-white: rgba(251, 246, 233,0.7);
  --main-plum: rgb(108, 11, 48);
  --main-black: rgb(80, 73, 73);
  --abril-font: 'Abyssinica SIL', serif;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  color: var(--main-black);
  font-family: var(--abril-font);
  font-weight: bold;
}

button{
  background-color: var(--main-plum);
  color: var(--main-white);
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 7px 10px;
  margin-bottom: 10px;
  font-family: var(--abril-font);
  font-size: 16px;
  font-weight: bold;
}

button:hover{
  font-weight: bold;
  transform: scale(1.1);
  cursor: pointer;
}

/*------------ NAVBAR ---------- */
.nav {
  width: 100vw;
  display: flex;
  justify-content: left;
  align-items:left;
  align-content: center;
  flex-direction: row;
  position: fixed;
  z-index: 2;
  max-width: 1500px;
  background-color: rgb(236, 183, 49, 0.8);
  backdrop-filter: blur(5px);
}

.nav a{
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  padding: 25px 0; 
  margin: 0 25px;
  transition: 0.2s ease-in-out;
  color:var(--main-plum);
}
.nav a:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.nav span{
  margin-left: auto;
  margin-top: 15px;
  padding-right: 20px;
}

.sign-out{
  margin: 5px;
}

/*------------ new brew and edit form ---------- */

.brew-form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}
.brew-form input{
 border: none;
 border-radius: 5px;
 padding: 10px;
 margin: 5px 0;
 background-color: var(--main-white);
}

.submit-btn{
  margin-top: 10px;
}
/*------------ All pages inside app gen structure  ---------- */

.content-container {
  max-width: 1500px;
}

/* -------- About -------- */
.about{
padding-top: 100px;
margin: 0 100px;
}

/* -------- HOME -------- */
.home{
  height: 100vh;
  width: 100vw;
  padding: none;
  margin: none;
  max-width: 1500px;
  max-height: 1200px;  
  background-image: url("../breweryTomfooleryPics/beerFlight2.jpg");
  background-repeat: no-repeat; 
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-intro{
  border: solid var(--main-dark-gold) 3px;
  border-radius: 5px;
  width: 30vw;
  max-width: 500px;
  overflow-y: scroll;
  background-color: var(--translucent-white);
	backdrop-filter: blur(5px);
  margin-top: 35px;
	padding: 2rem;
  font-weight: bold;
}
.home h1{
  color: var(--main-plum);
  font-size: 45px;
}
.brew-form-container h2{
  color: var(--main-plum);
  padding-top: 10px;
}

.brew-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#add-btn{
  background-color: var(--main-gold);
  font-size: 20px;
}

/*------------ BREW-CONTAINERS--general-styling ---------- */

.brews-container{
  margin: 0 auto;
  max-width: 1500px;
}

.brews-list{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1500px;
}

.brew-card{
  position: relative;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 10px 10px 55px 10px;
  margin: 20px;
  border-radius: 5px;
  /* color: var(--main-dark-gold); */
  background-color: var(--translucent-white);
	backdrop-filter: blur(5px);
  /* border: solid var(--main-dark-gold) 3px; */
}

.brew-card p{
  width: 250px;
}

.brew-card img{
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid var(--main-black);
}
/*------------ MY BREWS---------- */
.my-brews-container{
  background-image: url("../breweryTomfooleryPics/beerFireplace.jpg");
  background-position: top -20% right 0%;
  /* background-position: center; */
  background-repeat: no-repeat; 
  background-size: cover;
  background-attachment: fixed;
  overflow-y: scroll;
  /* padding: 50px 50px; */
  height: 100vh;
  width: 100vw;
  max-width: 1500px;
}

 h1{
  color: var(--main-plum);
  text-decoration: underline solid var(--main-gold);
  font-size: 55px;
}

.delete-btn{
  /* margin-left: auto; */
  position:absolute;
  bottom: 10px;
  right: 15px;
  font-size: 20px;
  background-color: transparent;
  padding: 0;
  margin-bottom: 0;
}
.edit-btn{
  position:absolute;
  bottom: 3px;
  left: 15px;
  font-size: 30px;
  background-color: transparent;
  color: var(--main-plum);
  padding: 0;
  margin: 0;
}

/*------------ FAVE BREWS---------- */
.fav-brews-container{
  background-image: url("../breweryTomfooleryPics/beerFlight3.jpg");
  background-position: top;
  background-repeat: no-repeat; 
  background-size: cover;
  background-attachment: fixed;
  overflow-y: scroll;
  height: 100vh;
  width: 100vw;
  max-width: 1500px;
}

/*------------ GLOBAL BREWS---------- */
.global-brews-container{
  background-image: url("../breweryTomfooleryPics/bottleCheers.jpg");
  background-position: top;
  background-repeat: no-repeat; 
  background-size: cover;
  background-attachment: fixed;
  overflow-y: scroll;
  height: 100vh;
  width: 100vw;
  max-width: 1500px;
}
/*------------ SEARCH ---------- */

.search{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  margin: 0 auto;
  padding: 100px 0 20px 0;
  background-color: var(--main-gold);
  width: 100vw;
  max-width: 1500px;
  overflow-y: none;
}

.search input, .search label{
  margin: 5px 10px;
  font-size: 20px;
  padding: 10px;
}

.search label{
  color: var(--main-plum);
  border-top: 2px solid var(--main-dark-gold);
  border-bottom: 2px solid var(--main-dark-gold);
}

.search input{
  width: 300px;
  border-radius: 5px;
  border: none;
  background-color: var(--main-white);
}
/*------------ Login-page ---------- */
.login-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.login-form label{
  font-family: var(--abril-font);
  font-size: 20px;
  color: var(--main-plum);

}
.login-form input{
  padding: 5px;
  border: 2px solid var(--main-gold);
  border-radius: 5px;
}



/*------------ Edit-Container ---------- */

.edit-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
  overflow-y: scroll;
  width: 50vw;
  max-width: 1500px;
  background-color: var(--main-plum);
  background-attachment: fixed;
}

.edit-form-container{
  width: 40vw;
  max-width: 400px;
  background-color: var(--translucent-white);
	backdrop-filter: blur(5px);
  border: solid var(--main-gold) 3px;
  border-radius: 5px;
	padding: 30px;
  margin: 80px auto 0;
  font-weight: bold;
  overflow-y: scroll;
}

#edit-complete-msg{
  margin-top: 10px;
}
#edit-complete-msg h3 {
  color: var(--main-gold);
}
.return-to-myBrews{
  border: 2px solid var(--main-white);
}
/* -----Hidden class --------- */
.hidden {
  visibility: hidden;
}

.active{
  text-decoration: underline solid var(--main-plum);
}

.favorited{
  background-color: var(--main-gold);
}