.App {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
 
}

/*------------ NAVBAR ---------- */
.nav {
  width: 100vw;
  display: flex;
  justify-content: left;
  align-items:left;
  flex-direction: row;
  position: fixed;
  z-index: 2;
  max-width: 1500px;
  
}

.nav a{
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  padding: 25px 0; 
  margin: 0 25px;
  transition: 0.2s ease-in-out;
  color: rgb(54, 51, 51)
  
}

.nav a:hover{
  transform: scale(1.1);
  cursor: pointer;
}

/*------------ HOME / ABOUT  ---------- */

/*  structure for home and about*/
.content-container {
  padding-top: 100px;
  max-width: 1500px;
}

.brew-form-container{
  border: solid grey 3px;
  padding: 20px;
}

.brew-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

/*------------ BREW-CONTAINERS ---------- */

/*------------ Login-page ---------- */
.login-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}